sidebar.sidebar
	.wrap-sidebar
		.sidebar__filter
			+ul_item('sidebar__filter', sortTop, 1)
		.accordeon
			ul.accordeon__list
				li.accordeon__item
					a(href="#").accordeon__trigger.accordeon__trigger-close Наличие в магазине
					.accordeon__inner
						ul.accordeon__list-avail
							li.accordeon__item-avail
								input(type="radio" class="item__avail-input" name="наличие" value="Во всех магазинах")
								label( class="item__avail-label") Во всех магазинах
							li.accordeon__item-avail
								input(type="radio" class="item__avail-input" name="наличие" value="В ближайшем ко мне магазине")
								label(class="item__avail-label") В ближайшем ко мне магазине
				li.accordeon__item
					a(href="#").accordeon__trigger.accordeon__trigger-close Бренды
					.accordeon__inner
						ul.accordeon__list-brands
							each item in brands
								li.accordeon__item-brands
									input(type="checkbox" class="accordeon__item-checkbox" name=item value=item)
									label(for=item class="accordeon__item-label")= item
						a(href="#" class="accordeon__reset")
							| Сбросить фильтр
				li.accordeon__item
					a(href="#").accordeon__trigger.accordeon__trigger-close Цена
					.accordeon__inner
						.price
							span.price__text от
							input(type="text" placeholder="100" class="price__input-from")
							span.price__text до
							input(type="text" placeholder="13 000" class="price__input-to")
						#slider-range
				li.accordeon__item
					a(href="#").accordeon__trigger.accordeon__trigger-close Цвета
					.accordeon__inner.accordeon__inner_clear
						ul.colors__list
							each color in colors
								li.colors__item
									a(href="#" class="colors__link" style="background-color:#" + color)
				li.accordeon__item
					a(href="#").accordeon__trigger.accordeon__trigger-close Операционные системы
					.accordeon__inner
						ul.accordeon__list-os
							each item in os
								li.accordeon__item-os
									input(type="checkbox" class="accordeon__item-checkbox" name=item value=item)
									label(for=item class="accordeon__item-label")= item
						a(href="#" class="accordeon__reset")
							| Сбросить фильтр



